<p id="notice"><%= notice %></p>

<h1>Listing Agreement Types</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agreement_types.each do |agreement_type| %>
      <tr>
        <td><%= agreement_type.type %></td>
        <td><%= link_to 'Show', agreement_type %></td>
        <td><%= link_to 'Edit', edit_agreement_type_path(agreement_type) %></td>
        <td><%= link_to 'Destroy', agreement_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agreement type', new_agreement_type_path %>
