<%= form_for(@agreement_installment) do |f| %>
  <% if @agreement_installment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agreement_installment.errors.count, "error") %> prohibited this agreement_installment from being saved:</h2>

      <ul>
      <% @agreement_installment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :paymentDate %><br>
    <%= f.date_select :paymentDate %>
  </div>
  <div class="field">
    <%= f.label :dueDate %><br>
    <%= f.date_select :dueDate %>
  </div>
  <div class="field">
    <%= f.label :confirmationDate %><br>
    <%= f.date_select :confirmationDate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
