<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @user.cellPhone %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Número de CNPJ's:</strong>
  <%= @user.maxSalesAmount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
