<h2>Nome: <%= @user.name %></h2>

<ul>
  <li>Login: <%= @user.login %></li>
  <li>CPF: <%= @user.cpf %></li>
  <li>Email: <%= @user.email %></li>
  <li>Telefone: <%= @user.phone %></li>
  <li>Celular: <%= @user.cellPhone %></li>
  <li>Número de CNPJ's: <%= @user.maxSalesAmount %></li>
  <% if @user.status %>
    <li>Status: Ativo</li>
  <% else %>
    <li>Status: Inativo</li>
  <% end %>
  <% if @user.isVerified %>
      <li>Verificado: Sim</li>
  <% else %>
      <li>Verificado: Não</li>
  <% end %>
</ul>

<%= link_to 'Editar Usuário', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
