<p id="notice"><%= notice %></p>

<h1>Listing City Organs</h1>

<table>
  <thead>
    <tr>
      <th>Cnpj</th>
      <th>Cityname</th>
      <th>Statename</th>
      <th>Regionname</th>
      <th>Organname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @city_organs.each do |city_organ| %>
      <tr>
        <td><%= city_organ.cnpj %></td>
        <td><%= city_organ.cityName %></td>
        <td><%= city_organ.stateName %></td>
        <td><%= city_organ.regionName %></td>
        <td><%= city_organ.organName %></td>
        <td><%= link_to 'Show', city_organ %></td>
        <td><%= link_to 'Edit', edit_city_organ_path(city_organ) %></td>
        <td><%= link_to 'Destroy', city_organ, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City organ', new_city_organ_path %>
